#menu {
    padding-left: 50px;
    position: fixed;
    width: 270px;
    height: 100%;
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.9) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);

}

#menu h2 {
    color: black;
}

#list {
    height: 100%;
    background-color: #afd9ee;
    padding-left: 300px;
    color: black;
    font-family: 'Cabin', sans-serif;
}

#menu a {
    color: black;
}

#menu span {
    color:black;
}

#page-content {
    background-color: #afd9ee;
    padding-left: 300px;
    color: black;
    font-family: 'Cabin', sans-serif;
}

#search {
    position: fixed;
    align-content: center;
}
.form{

    height: 100%;
    background-color: #afd9ee;
    padding-left: 300px;
    color: black;
    font-family: 'Cabin', sans-serif;

}
label{
    color: white;
    text-align: right;
}
.form-group{
    text-align: left;
    font-size: 25px;
}
